<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>local.syncthing.ios</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/bin/syncthing-ios</string>
        <string>serve</string>
        <string>--home=/var/mobile/Library/Syncthing</string>
        <string>--gui-address=http://127.0.0.1:8384</string>
        <string>--no-browser</string>
        <string>--no-restart</string>
        <string>--no-upgrade</string>
        <string>--log-level=warn</string>
    </array>
    <key>UserName</key><string>mobile</string>
    <key>GroupName</key><string>mobile</string>
    <key>WorkingDirectory</key><string>/var/mobile/Media/Syncthing</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key><string>/var/mobile</string>
        <key>STMONITORED</key><string>1</string>
        <key>PATH</key><string>/var/jb/usr/bin:/var/jb/bin:/usr/bin:/bin</string>
    </dict>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>
    <key>ThrottleInterval</key><integer>30</integer>
    <key>ExitTimeOut</key><integer>60</integer>
    <key>Umask</key><integer>63</integer>
    <key>StandardOutPath</key><string>/var/mobile/Library/Syncthing/daemon.log</string>
    <key>StandardErrorPath</key><string>/var/mobile/Library/Syncthing/daemon.log</string>
</dict>
</plist>
